# Preppin Data Week 2: The Prep School - Birthday Cakes

### Import file
1. Import pandas
2. Import csv

In [1]:
import pandas as pd
df = pd.read_csv('PD 2022 Wk 1 Input - Input.csv')
df

,id,pupil first name,pupil last name,gender,Date of Birth,Parental Contact Name_1,Parental Contact Name_2,Preferred Contact Employer,Parental Contact
0,1,Ronna,Nellies,Female,12/21/2013,Purcell,Ketti,Demizz,1
1,2,Rusty,Andriulis,Male,7/21/2012,Vassili,Rivi,Brainbox,1
2,3,Roberta,Oakeshott,Female,12/4/2011,Lind,Haskell,Centidel,2
3,4,Lola,Rubinfajn,Male,6/29/2012,Elie,Tresa,Edgeblab,2
4,5,Kamila,Benedtti,Female,7/10/2012,Adela,Clevey,Trudoo,1
...,...,...,...,...,...,...,...,...,...
995,996,Ninetta,Worling,Female,2/15/2015,Sibbie,Peterus,Omba,2
996,997,Stanford,Tinton,Female,4/9/2013,Kyle,Augustin,Dabshots,1
997,998,Ertha,MacCook,Male,12/14/2013,Sidonia,Kessiah,Topicshots,2
998,999,Lawton,Randles,Female,12/12/2011,Kali,Reeva,Skalith,1
999,1000,Engracia,Pashbee,Female,9/23/2013,Emlynn,Almeda,Zoomzone,1

3. Remove unnecessary columns (optional step)

In [2]:
df = df[['id', 'pupil first name', 'pupil last name', 'Date of Birth',]]
df.head()

   id pupil first name pupil last name Date of Birth
0   1            Ronna         Nellies    12/21/2013
1   2            Rusty       Andriulis     7/21/2012
2   3          Roberta       Oakeshott     12/4/2011
3   4             Lola       Rubinfajn     6/29/2012
4   5           Kamila        Benedtti     7/10/2012

### Format pupil's name in First Name Last Name format

In [3]:
df['Pupil Name'] = df['pupil first name'] + ' ' + df['pupil last name']

C:\Users\caitlin.helmer\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

### Create the date for the pupil's birthday in calendar year 2022
1. Import datetime for datetime handling
2. Format 'Date of Birth' as datetime

In [5]:
import datetime as dt
df['Date of Birth'] = pd.to_datetime(df['Date of Birth'])

C:\Users\caitlin.helmer\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

3. Create separate columns to identify month and day of birthday

In [6]:
df['month'] = df['Date of Birth'].dt.month
df['day'] = df['Date of Birth'].dt.day

C:\Users\caitlin.helmer\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\caitlin.helmer\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

4. Add a column for year (2022)

In [7]:
df['year'] = 2022

C:\Users\caitlin.helmer\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

5. Create a single column using the three columns created in steps 3 & 4

In [8]:
df["This Year's Birthday"] = pd.to_datetime(dict(year=df.year, month=df.month, day=df.day))
df["This Year's Birthday"]

0     2022-12-21
1     2022-07-21
2     2022-12-04
3     2022-06-29
4     2022-07-10
         ...
995   2022-02-15
996   2022-04-09
997   2022-12-14
998   2022-12-12
999   2022-09-23
Name: This Year's Birthday, Length: 1000, dtype: datetime64[ns]

### Find the day of week the birthday falls on & change Saturdays and Sundays to Friday

1. Find weekday (unaltered)

In [12]:
df['Cake Needed On'] = df["This Year's Birthday"].dt.day_name()

In [13]:
df['Cake Needed On'].value_counts()

Sunday       166
Thursday     155
Wednesday    138
Tuesday      136
Saturday     135
Monday       135
Friday       135
Name: Cake Needed On, dtype: int64

2. Replace Saturday and Sunday with Friday

In [14]:
df['Cake Needed On'] = df['Cake Needed On'].replace(['Saturday', 'Sunday'], 'Friday')

In [17]:
df['Cake Needed On'].value_counts()

Friday       436
Thursday     155
Wednesday    138
Tuesday      136
Monday       135
Name: Cake Needed On, dtype: int64

### Find what month the pupil's birthday falls within

In [18]:
df['Month Name'] = df["This Year's Birthday"].dt.month_name()

### Count how many birthdays there are on each weekday in each month
1. Create a groupby on Month Name and Cake Needed on, aggregated by count
    - Reset the index to produce a flat dataframe rather than a multi-indexed dataframe

In [21]:
gb = df.groupby(['Month Name', 'Cake Needed On']).count().reset_index()
gb

,Month Name,Cake Needed On,id,pupil first name,pupil last name,Date of Birth,Pupil Name,month,day,year,This Year's Birthday,Weekday
0,April,Friday,55,55,55,55,55,55,55,55,55,55
1,April,Monday,10,10,10,10,10,10,10,10,10,10
2,April,Thursday,11,11,11,11,11,11,11,11,11,11
3,April,Tuesday,4,4,4,4,4,4,4,4,4,4
4,April,Wednesday,12,12,12,12,12,12,12,12,12,12
5,August,Friday,24,24,24,24,24,24,24,24,24,24
6,August,Monday,12,12,12,12,12,12,12,12,12,12
7,August,Thursday,10,10,10,10,10,10,10,10,10,10
8,August,Tuesday,15,15,15,15,15,15,15,15,15,15
9,August,Wednesday,10,10,10,10,10,10,10,10,10,10
10,December,Friday,45,45,45,45,45,45,45,45,45,45
11,December,Monday,20,20,20,20,20,20,20,20,20,20
12,December,Thursday,20,20,20,20,20,20,20,20,20,20
13,December,Tuesday,8,8,8,8,8,8,8,8,8,8
14,December,Wednesday,9,9,9,9,9,9,9,9,9,9
15,February,Friday,31,31,31,31,31,31,31,31,31,31
16,February,Monday,12,12,12,12,12,12,12,12,12,12
17,February,Thursday,12,12,12,12,12,12,12,12,12,12
18,February,Tuesday,13,13,13,13,13,13,13,13,13,13
19,February,Wednesday,8,8,8,8,8,8,8,8,8,8
20,January,Friday,33,33,33,33,33,33,33,33,33,33
21,January,Monday,14,14,14,14,14,14,14,14,14,14
22,January,Thursday,6,6,6,6,6,6,6,6,6,6
23,January,Tuesday,12,12,12,12,12,12,12,12,12,12
24,January,Wednesday,14,14,14,14,14,14,14,14,14,14
25,July,Friday,49,49,49,49,49,49,49,49,49,49
26,July,Monday,11,11,11,11,11,11,11,11,11,11
27,July,Thursday,12,12,12,12,12,12,12,12,12,12
28,July,Tuesday,12,12,12,12,12,12,12,12,12,12
29,July,Wednesday,19,19,19,19,19,19,19,19,19,19
30,June,Friday,30,30,30,30,30,30,30,30,30,30
31,June,Monday,9,9,9,9,9,9,9,9,9,9
32,June,Thursday,12,12,12,12,12,12,12,12,12,12
33,June,Tuesday,11,11,11,11,11,11,11,11,11,11
34,June,Wednesday,15,15,15,15,15,15,15,15,15,15
35,March,Friday,31,31,31,31,31,31,31,31,31,31
36,March,Monday,8,8,8,8,8,8,8,8,8,8
37,March,Thursday,19,19,19,19,19,19,19,19,19,19
38,March,Tuesday,13,13,13,13,13,13,13,13,13,13
39,March,Wednesday,6,6,6,6,6,6,6,6,6,6
40,May,Friday,31,31,31,31,31,31,31,31,31,31
41,May,Monday,7,7,7,7,7,7,7,7,7,7
42,May,Thursday,12,12,12,12,12,12,12,12,12,12
43,May,Tuesday,15,15,15,15,15,15,15,15,15,15
44,May,Wednesday,8,8,8,8,8,8,8,8,8,8
45,November,Friday,39,39,39,39,39,39,39,39,39,39
46,November,Monday,11,11,11,11,11,11,11,11,11,11
47,November,Thursday,13,13,13,13,13,13,13,13,13,13
48,November,Tuesday,12,12,12,12,12,12,12,12,12,12
49,November,Wednesday,17,17,17,17,17,17,17,17,17,17
50,October,Friday,32,32,32,32,32,32,32,32,32,32
51,October,Monday,14,14,14,14,14,14,14,14,14,14
52,October,Thursday,14,14,14,14,14,14,14,14,14,14
53,October,Tuesday,9,9,9,9,9,9,9,9,9,9
54,October,Wednesday,13,13,13,13,13,13,13,13,13,13
55,September,Friday,36,36,36,36,36,36,36,36,36,36
56,September,Monday,7,7,7,7,7,7,7,7,7,7
57,September,Thursday,14,14,14,14,14,14,14,14,14,14
58,September,Tuesday,12,12,12,12,12,12,12,12,12,12
59,September,Wednesday,7,7,7,7,7,7,7,7,7,7

2. Remove duplicate columns to return a single count
3. Rename field to reflect the fact that it is a count

In [22]:
gb = gb[['Month Name', 'Cake Needed On', 'id']]
gb = gb.rename(columns={'id' : 'BDs per Weekday and Month'})
gb

   Month Name Cake Needed On  BDs per Weekday and Month
0       April         Friday                         55
1       April         Monday                         10
2       April       Thursday                         11
3       April        Tuesday                          4
4       April      Wednesday                         12
5      August         Friday                         24
6      August         Monday                         12
7      August       Thursday                         10
8      August        Tuesday                         15
9      August      Wednesday                         10
10   December         Friday                         45
11   December         Monday                         20
12   December       Thursday                         20
13   December        Tuesday                          8
14   December      Wednesday                          9
15   February         Friday                         31
16   February         Monday                         12
17   February       Thursday                         12
18   February        Tuesday                         13
19   February      Wednesday                          8
20    January         Friday                         33
21    January         Monday                         14
22    January       Thursday                          6
23    January        Tuesday                         12
24    January      Wednesday                         14
25       July         Friday                         49
26       July         Monday                         11
27       July       Thursday                         12
28       July        Tuesday                         12
29       July      Wednesday                         19
30       June         Friday                         30
31       June         Monday                          9
32       June       Thursday                         12
33       June        Tuesday                         11
34       June      Wednesday                         15
35      March         Friday                         31
36      March         Monday                          8
37      March       Thursday                         19
38      March        Tuesday                         13
39      March      Wednesday                          6
40        May         Friday                         31
41        May         Monday                          7
42        May       Thursday                         12
43        May        Tuesday                         15
44        May      Wednesday                          8
45   November         Friday                         39
46   November         Monday                         11
47   November       Thursday                         13
48   November        Tuesday                         12
49   November      Wednesday                         17
50    October         Friday                         32
51    October         Monday                         14
52    October       Thursday                         14
53    October        Tuesday                          9
54    October      Wednesday                         13
55  September         Friday                         36
56  September         Monday                          7
57  September       Thursday                         14
58  September        Tuesday                         12
59  September      Wednesday                          7

4. Merge the original dataframe with the groupby on Month Name and Cake Needed On

In [25]:
m = pd.merge(df, gb, on=['Month Name', 'Cake Needed On'], how='left')
m

,id,pupil first name,pupil last name,Date of Birth,Pupil Name,month,day,year,This Year's Birthday,Weekday,Cake Needed On,Month Name,BDs per Weekday and Month
0,1,Ronna,Nellies,2013-12-21,Ronna Nellies,12,21,2022,2022-12-21,2,Wednesday,December,9
1,2,Rusty,Andriulis,2012-07-21,Rusty Andriulis,7,21,2022,2022-07-21,3,Thursday,July,12
2,3,Roberta,Oakeshott,2011-12-04,Roberta Oakeshott,12,4,2022,2022-12-04,6,Friday,December,45
3,4,Lola,Rubinfajn,2012-06-29,Lola Rubinfajn,6,29,2022,2022-06-29,2,Wednesday,June,15
4,5,Kamila,Benedtti,2012-07-10,Kamila Benedtti,7,10,2022,2022-07-10,6,Friday,July,49
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Ninetta,Worling,2015-02-15,Ninetta Worling,2,15,2022,2022-02-15,1,Tuesday,February,13
996,997,Stanford,Tinton,2013-04-09,Stanford Tinton,4,9,2022,2022-04-09,5,Friday,April,55
997,998,Ertha,MacCook,2013-12-14,Ertha MacCook,12,14,2022,2022-12-14,2,Wednesday,December,9
998,999,Lawton,Randles,2011-12-12,Lawton Randles,12,12,2022,2022-12-12,0,Monday,December,20
999,1000,Engracia,Pashbee,2013-09-23,Engracia Pashbee,9,23,2022,2022-09-23,4,Friday,September,36

### Output the data
1. Remove extra columns & Reorder

In [27]:
m = m[['Pupil Name', 'Date of Birth', "This Year's Birthday", 'Month Name', 'Cake Needed On', 'BDs per Weekday and Month']]
m.head()

,Pupil Name,Date of Birth,This Year's Birthday,Month Name,Cake Needed On,BDs per Weekday and Month
0,Ronna Nellies,2013-12-21,2022-12-21,December,Wednesday,9
1,Rusty Andriulis,2012-07-21,2022-07-21,July,Thursday,12
2,Roberta Oakeshott,2011-12-04,2022-12-04,December,Friday,45
3,Lola Rubinfajn,2012-06-29,2022-06-29,June,Wednesday,15
4,Kamila Benedtti,2012-07-10,2022-07-10,July,Friday,49

2. Output to csv

In [29]:
m.to_csv('pandas_solution.csv', index=False)