## Preppin Data 2022 Week 14
### House of Games Winners

### Import pandas and file

In [32]:
import pandas as pd
import numpy as np

In [2]:
file = "Richard Osman's House of Games - Episode Guide - Players.csv"
df = pd.read_csv(file)
df

,Player,Ser.,Wk.,Seat,M,T,W,T.1,F,Total,...,4th,Week,Week.1,*Scoring Rate = % of Total Daily Points Scored Across Week,Unnamed: 24,Unnamed: 25,Unnamed: 26,Ser..1,Wk..1,4-Player Total
0,Angela Barnes,4,6.0,4.0,15.0,14.0,14.0,20.0,19.0,82.0,...,0.0,24.0,1st,NaN,NaN,NaN,NaN,2,2.0,167.0
1,Ed Gamble,3,1.0,2.0,16.0,11.0,10.0,14.0,12.0,63.0,...,0.0,23.0,1st,NaN,NaN,NaN,NaN,3,20.0,165.0
2,Simon Hickson,5,16.0,4.0,12.0,15.0,6.0,14.0,15.0,62.0,...,0.0,23.0,1st,NaN,NaN,NaN,NaN,2,5.0,164.0
3,Steve Pemberton,2,2.0,2.0,12.0,11.0,15.0,14.0,8.0,60.0,...,0.0,22.0,1st,NaN,NaN,NaN,NaN,5,6.0,162.0
4,Shaun Williamson,4,20.0,4.0,14.0,13.0,10.0,11.0,11.0,59.0,...,0.0,23.0,1st,NaN,NaN,NaN,NaN,5,14.0,160.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,Patsy Kensit,4,19.0,3.0,3.0,0.0,5.0,1.0,1.0,10.0,...,5.0,6.0,4th,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299,June Sarpong (C),3,10.0,1.0,1.0,4.0,2.0,0.0,2.0,9.0,...,4.0,8.0,4th,NaN,NaN,NaN,NaN,NaN,NaN,NaN
300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
301,(C) = House of Champions,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
302,(N) = House of Games Night,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Cleanup

1. Drop unnecessary rows by index
2. Change column names for clarity
3. Drop unnecessary columns

In [3]:
#Drop key rows from bottom

df = df.iloc[:300, :]
df

,Player,Ser.,Wk.,Seat,M,T,W,T.1,F,Total,...,4th,Week,Week.1,*Scoring Rate = % of Total Daily Points Scored Across Week,Unnamed: 24,Unnamed: 25,Unnamed: 26,Ser..1,Wk..1,4-Player Total
0,Angela Barnes,4,6.0,4.0,15.0,14.0,14.0,20.0,19.0,82.0,...,0.0,24.0,1st,NaN,NaN,NaN,NaN,2,2.0,167.0
1,Ed Gamble,3,1.0,2.0,16.0,11.0,10.0,14.0,12.0,63.0,...,0.0,23.0,1st,NaN,NaN,NaN,NaN,3,20.0,165.0
2,Simon Hickson,5,16.0,4.0,12.0,15.0,6.0,14.0,15.0,62.0,...,0.0,23.0,1st,NaN,NaN,NaN,NaN,2,5.0,164.0
3,Steve Pemberton,2,2.0,2.0,12.0,11.0,15.0,14.0,8.0,60.0,...,0.0,22.0,1st,NaN,NaN,NaN,NaN,5,6.0,162.0
4,Shaun Williamson,4,20.0,4.0,14.0,13.0,10.0,11.0,11.0,59.0,...,0.0,23.0,1st,NaN,NaN,NaN,NaN,5,14.0,160.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,Paul Martin,3,17.0,3.0,1.0,1.0,5.0,1.0,4.0,12.0,...,4.0,7.0,4th,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296,Karim Zeroual,4,9.0,2.0,2.0,3.0,2.0,1.0,3.0,11.0,...,5.0,6.0,4th,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,Reginald D Hunter,5,10.0,4.0,4.0,0.0,3.0,3.0,1.0,11.0,...,2.0,9.0,4th,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,Patsy Kensit,4,19.0,3.0,3.0,0.0,5.0,1.0,1.0,10.0,...,5.0,6.0,4th,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299,June Sarpong (C),3,10.0,1.0,1.0,4.0,2.0,0.0,2.0,9.0,...,4.0,8.0,4th,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#Change column names
df = df.rename(columns={'Ser.' : 'Series', 'Wk.': 'Week', 'T' : 'Tu', 'T.1' : 'Th', 
                        'Total' : 'Score', 'Week' : 'Points', 'Week.1' : 'Rank', 
                        'M.1' : 'M_R' , 'T.2' : 'Tu_R', 'W.1' : 'W_R', 'T.3' : 'Th_R', 'F.1' : 'F_R'})

In [5]:
df = df[['Player', 'Series', 'Week', 'M', 'Tu', 'W', 'Th', 'F','M_R', 'Tu_R', 'W_R', 'Th_R', 'F_R','Score', 'Points', 'Rank']]
df

,Player,Series,Week,M,Tu,W,Th,F,M_R,Tu_R,W_R,Th_R,F_R,Score,Points,Rank
0,Angela Barnes,4,6.0,15.0,14.0,14.0,20.0,19.0,1st,1st,1st,1st,1st,82.0,24.0,1st
1,Ed Gamble,3,1.0,16.0,11.0,10.0,14.0,12.0,1st,1st,2nd,1st,1st,63.0,23.0,1st
2,Simon Hickson,5,16.0,12.0,15.0,6.0,14.0,15.0,1st,1st,2nd,1st,1st,62.0,23.0,1st
3,Steve Pemberton,2,2.0,12.0,11.0,15.0,14.0,8.0,1st,1st,1st,1st,2nd,60.0,22.0,1st
4,Shaun Williamson,4,20.0,14.0,13.0,10.0,11.0,11.0,1st,1st,2nd,1st,1st,59.0,23.0,1st
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,Paul Martin,3,17.0,1.0,1.0,5.0,1.0,4.0,4th,3rd,4th,4th,4th,12.0,7.0,4th
296,Karim Zeroual,4,9.0,2.0,3.0,2.0,1.0,3.0,4th,4th,4th,4th,4th,11.0,6.0,4th
297,Reginald D Hunter,5,10.0,4.0,0.0,3.0,3.0,1.0,3rd,3rd,3rd,4th,4th,11.0,9.0,4th
298,Patsy Kensit,4,19.0,3.0,0.0,5.0,1.0,1.0,4th,4th,4th,4th,4th,10.0,6.0,4th
299,June Sarpong (C),3,10.0,1.0,4.0,2.0,0.0,2.0,4th,2nd,4th,4th,4th,9.0,8.0,4th

### Remove Series with Null Values or Preceded by N (N1, N2, etc.)

In [6]:
df = df[~df['Series'].str.contains('N')].copy()

In [7]:
#Convert Rank to Numeric dtype

df['Rank'] = df['Rank'].str.slice(stop=1).astype('int64')
df['M_R'] = df['M_R'].str.slice(stop=1).astype('int64')
df['Tu_R'] = df['Tu_R'].str.slice(stop=1).astype('int64')
df['W_R'] = df['W_R'].str.slice(stop=1).astype('int64')
df['Th_R'] = df['Th_R'].str.slice(stop=1).astype('int64')
df['F_R'] = df['F_R'].str.slice(stop=1).astype('int64')

### Calculate points without double points Friday

1. Write function to use with .apply() function
2. .apply() function

In [8]:
def no_double_points_friday(x):
    
    score = 0
    
    for each in [x['M_R'], x['Tu_R'], x['W_R'], x['Th_R'], x['F_R']]:
            
        if each == 1:
            score += 4
        elif each == 2:
            score += 3
        elif each == 3:
            score += 2
        else:
            score += 1
        
    return score

In [9]:
df['Points without Double Points Friday'] = df.apply(no_double_points_friday, axis=1)
df

,Player,Series,Week,M,Tu,W,Th,F,M_R,Tu_R,W_R,Th_R,F_R,Score,Points,Rank,Points without Double Points Friday
0,Angela Barnes,4,6.0,15.0,14.0,14.0,20.0,19.0,1,1,1,1,1,82.0,24.0,1,20
1,Ed Gamble,3,1.0,16.0,11.0,10.0,14.0,12.0,1,1,2,1,1,63.0,23.0,1,19
2,Simon Hickson,5,16.0,12.0,15.0,6.0,14.0,15.0,1,1,2,1,1,62.0,23.0,1,19
3,Steve Pemberton,2,2.0,12.0,11.0,15.0,14.0,8.0,1,1,1,1,2,60.0,22.0,1,19
4,Shaun Williamson,4,20.0,14.0,13.0,10.0,11.0,11.0,1,1,2,1,1,59.0,23.0,1,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,Paul Martin,3,17.0,1.0,1.0,5.0,1.0,4.0,4,3,4,4,4,12.0,7.0,4,6
296,Karim Zeroual,4,9.0,2.0,3.0,2.0,1.0,3.0,4,4,4,4,4,11.0,6.0,4,5
297,Reginald D Hunter,5,10.0,4.0,0.0,3.0,3.0,1.0,3,3,3,4,4,11.0,9.0,4,8
298,Patsy Kensit,4,19.0,3.0,0.0,5.0,1.0,1.0,4,4,4,4,4,10.0,6.0,4,5
299,June Sarpong (C),3,10.0,1.0,4.0,2.0,0.0,2.0,4,2,4,4,4,9.0,8.0,4,7

### Rank the players based on hypothetical standings after no double points on Friday

1. Use a chained groupby and rank function to rank players by episode
    - 'dense' argument allows for ties to be recorded as 1, 1, 3 rather than 1.5, 1.5, 3

In [10]:
df['Rank_Points_without_double_Friday'] = df.groupby(['Series', 'Week'])['Points without Double Points Friday'].rank('dense', ascending=False).astype('int64')
df

,Player,Series,Week,M,Tu,W,Th,F,M_R,Tu_R,W_R,Th_R,F_R,Score,Points,Rank,Points without Double Points Friday,Rank_Points_without_double_Friday
0,Angela Barnes,4,6.0,15.0,14.0,14.0,20.0,19.0,1,1,1,1,1,82.0,24.0,1,20,1
1,Ed Gamble,3,1.0,16.0,11.0,10.0,14.0,12.0,1,1,2,1,1,63.0,23.0,1,19,1
2,Simon Hickson,5,16.0,12.0,15.0,6.0,14.0,15.0,1,1,2,1,1,62.0,23.0,1,19,1
3,Steve Pemberton,2,2.0,12.0,11.0,15.0,14.0,8.0,1,1,1,1,2,60.0,22.0,1,19,1
4,Shaun Williamson,4,20.0,14.0,13.0,10.0,11.0,11.0,1,1,2,1,1,59.0,23.0,1,19,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,Paul Martin,3,17.0,1.0,1.0,5.0,1.0,4.0,4,3,4,4,4,12.0,7.0,4,6,4
296,Karim Zeroual,4,9.0,2.0,3.0,2.0,1.0,3.0,4,4,4,4,4,11.0,6.0,4,5,4
297,Reginald D Hunter,5,10.0,4.0,0.0,3.0,3.0,1.0,3,3,3,4,4,11.0,9.0,4,8,4
298,Patsy Kensit,4,19.0,3.0,0.0,5.0,1.0,1.0,4,4,4,4,4,10.0,6.0,4,5,4
299,June Sarpong (C),3,10.0,1.0,4.0,2.0,0.0,2.0,4,2,4,4,4,9.0,8.0,4,7,4

### Rank players to assign a winner if calculated using only total score

In [11]:
#Rank players by total score
df['Rank by Total Score'] = df.groupby(['Series', 'Week'])['Score'].rank('dense', ascending=False).astype('int64')

### Calculate points if the Score on Friday was doubled

1. Calculate new Friday score and save as column
2. Calculate new rankings based on this field

In [12]:
#Calculate score with double score fridays

df['Double Score Friday'] = (df['F']*2) + df['M'] + df['Tu'] + df['W'] + df['Th']

In [13]:
#Rank based on double score Friday

df['DSF_Rank'] = df.groupby(['Series', 'Week'])['Double Score Friday'].rank('dense', ascending=False).astype('int64')

### Determine if winners have changed by any of the previous methods

1. Determine original winners (by series/week)
2. Figure out if winners would have changed given new scoring methodology
    - Use .apply() function to compare 'Rank' column (original) with new methodology columns (x3)
    - Drop episodes where original winner was a tie; this prevents the join from working as it should
3. Pare down information to contain only Series/Week/New Winner information
4. Join to original data

In [65]:
# Find original winners by filtering on rank == 1
og = df[df['Rank'] == 1].copy()
og

,Player,Series,Week,M,Tu,W,Th,F,M_R,Tu_R,...,Th_R,F_R,Score,Points,Rank,Points without Double Points Friday,Rank_Points_without_double_Friday,Rank by Total Score,Double Score Friday,DSF_Rank
0,Angela Barnes,4,6.0,15.0,14.0,14.0,20.0,19.0,1,1,...,1,1,82.0,24.0,1,20,1,1,101.0,1
1,Ed Gamble,3,1.0,16.0,11.0,10.0,14.0,12.0,1,1,...,1,1,63.0,23.0,1,19,1,1,75.0,1
2,Simon Hickson,5,16.0,12.0,15.0,6.0,14.0,15.0,1,1,...,1,1,62.0,23.0,1,19,1,1,77.0,1
3,Steve Pemberton,2,2.0,12.0,11.0,15.0,14.0,8.0,1,1,...,1,2,60.0,22.0,1,19,1,1,68.0,1
4,Shaun Williamson,4,20.0,14.0,13.0,10.0,11.0,11.0,1,1,...,1,1,59.0,23.0,1,19,1,1,70.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,Kevin Clifton,5,4.0,6.0,9.0,10.0,3.0,9.0,2,2,...,4,1,37.0,19.0,1,15,1,1,46.0,1
155,Isy Suttie,4,7.0,6.0,3.0,6.0,8.0,11.0,1,3,...,2,1,34.0,19.0,1,15,2,3,45.0,2
180,Scarlett Moffatt,3,2.0,4.0,5.0,5.0,6.0,11.0,4,2,...,1,1,31.0,19.0,1,15,1,1,42.0,1
194,Rickie Haywood-Williams,4,8.0,5.0,7.0,6.0,4.0,8.0,2,1,...,3,2,30.0,17.0,1,14,1,2,38.0,2
213,Melinda Messenger,4,14.0,5.0,3.0,6.0,5.0,8.0,3,3,...,1,1,27.0,18.0,1,14,2,2,35.0,2

In [66]:
#Write functions to compare original rank to new rank
def change_dpf(x):
    
    if x['Rank'] != x['Rank_Points_without_double_Friday']:
        return 'Change'
    else:
        return 'No Change'
    
def change_dsf(x):
    
    if x['Rank'] != x['DSF_Rank']:
        return 'Change'
    else:
        return 'No Change'
    
def change_total_score(x):
    
    if x['Rank'] != x['Rank by Total Score']:
        return 'Change'
    else:
        return 'No Change'

In [67]:
#Create change in winner fields using df.apply()

og['Change in winner with no double points Friday'] = og.apply(change_dpf, axis=1)
og['Change in winner based on Score'] = og.apply(change_total_score, axis=1)
og['Change in winner if Double Score Friday'] = og.apply(change_dsf, axis=1)

In [68]:
# Save tie episodes to their own dataframe

ties = og[og.duplicated(subset=['Series', 'Week'], keep=False)].reset_index()
ties

,index,Player,Series,Week,M,Tu,W,Th,F,M_R,...,Points,Rank,Points without Double Points Friday,Rank_Points_without_double_Friday,Rank by Total Score,Double Score Friday,DSF_Rank,Change in winner with no double points Friday,Change in winner based on Score,Change in winner if Double Score Friday
0,66,Jan Ravens,3,6.0,7.0,6.0,12.0,9.0,10.0,3,...,19.0,1,15,2,1,54.0,1,Change,No Change,No Change
1,73,Rachel Parris,3,6.0,8.0,7.0,9.0,10.0,9.0,2,...,19.0,1,16,1,2,52.0,2,No Change,Change,Change
2,103,Les Dennis,4,14.0,7.0,11.0,11.0,3.0,7.0,2,...,18.0,1,15,1,1,46.0,1,No Change,No Change,No Change
3,213,Melinda Messenger,4,14.0,5.0,3.0,6.0,5.0,8.0,3,...,18.0,1,14,2,2,35.0,2,Change,Change,Change

In [69]:
#None of these episodes would have resulted in a tie; manually set the three indicator fields to 'Changes'

ties.iloc[:, 22:] = 'Change'
ties

,index,Player,Series,Week,M,Tu,W,Th,F,M_R,...,Points,Rank,Points without Double Points Friday,Rank_Points_without_double_Friday,Rank by Total Score,Double Score Friday,DSF_Rank,Change in winner with no double points Friday,Change in winner based on Score,Change in winner if Double Score Friday
0,66,Jan Ravens,3,6.0,7.0,6.0,12.0,9.0,10.0,3,...,19.0,1,15,2,1,54.0,1,Change,Change,Change
1,73,Rachel Parris,3,6.0,8.0,7.0,9.0,10.0,9.0,2,...,19.0,1,16,1,2,52.0,2,Change,Change,Change
2,103,Les Dennis,4,14.0,7.0,11.0,11.0,3.0,7.0,2,...,18.0,1,15,1,1,46.0,1,Change,Change,Change
3,213,Melinda Messenger,4,14.0,5.0,3.0,6.0,5.0,8.0,3,...,18.0,1,14,2,2,35.0,2,Change,Change,Change

In [70]:
#Remove episodes where there originally was a tie

og = og[~og.duplicated(subset=['Series', 'Week'], keep=False)]

In [71]:
#Pare down og dataframes to reunite changes with original data
og = og[['Series', 'Week','Change in winner with no double points Friday',
       'Change in winner based on Score',
       'Change in winner if Double Score Friday']]
og

,Series,Week,Change in winner with no double points Friday,Change in winner based on Score,Change in winner if Double Score Friday
0,4,6.0,No Change,No Change,No Change
1,3,1.0,No Change,No Change,No Change
2,5,16.0,No Change,No Change,No Change
3,2,2.0,No Change,No Change,No Change
4,4,20.0,No Change,No Change,No Change
...,...,...,...,...,...
112,2,3.0,No Change,Change,Change
120,5,4.0,No Change,No Change,No Change
155,4,7.0,Change,Change,Change
180,3,2.0,No Change,No Change,No Change
194,4,8.0,No Change,Change,Change

In [72]:
#Do the same thing with ties
ties = ties[['Series', 'Week','Change in winner with no double points Friday',
       'Change in winner based on Score',
       'Change in winner if Double Score Friday']]

#Drop the duplicates to prevent a double key
ties = ties.drop_duplicates()
ties

,Series,Week,Change in winner with no double points Friday,Change in winner based on Score,Change in winner if Double Score Friday
0,3,6.0,Change,Change,Change
2,4,14.0,Change,Change,Change

In [73]:
#Append Ties and nontie winners

og = og.append(ties)
og

,Series,Week,Change in winner with no double points Friday,Change in winner based on Score,Change in winner if Double Score Friday
0,4,6.0,No Change,No Change,No Change
1,3,1.0,No Change,No Change,No Change
2,5,16.0,No Change,No Change,No Change
3,2,2.0,No Change,No Change,No Change
4,4,20.0,No Change,No Change,No Change
...,...,...,...,...,...
155,4,7.0,Change,Change,Change
180,3,2.0,No Change,No Change,No Change
194,4,8.0,No Change,Change,Change
0,3,6.0,Change,Change,Change
2,4,14.0,Change,Change,Change

In [74]:
#Merge the dataframes
df2 = pd.merge(df, og, on=['Series', 'Week'])
df2

,Player,Series,Week,M,Tu,W,Th,F,M_R,Tu_R,...,Points,Rank,Points without Double Points Friday,Rank_Points_without_double_Friday,Rank by Total Score,Double Score Friday,DSF_Rank,Change in winner with no double points Friday,Change in winner based on Score,Change in winner if Double Score Friday
0,Angela Barnes,4,6.0,15.0,14.0,14.0,20.0,19.0,1,1,...,24.0,1,20,1,1,101.0,1,No Change,No Change,No Change
1,Greg Rutherford,4,6.0,5.0,3.0,7.0,5.0,6.0,3,2,...,17.0,2,14,2,2,32.0,2,No Change,No Change,No Change
2,Denise Van Outen,4,6.0,6.0,2.0,6.0,5.0,5.0,2,4,...,13.0,3,11,3,3,29.0,3,No Change,No Change,No Change
3,Melvin Odoom,4,6.0,-1.0,3.0,5.0,3.0,5.0,4,2,...,10.0,4,8,4,4,20.0,4,No Change,No Change,No Change
4,Ed Gamble,3,1.0,16.0,11.0,10.0,14.0,12.0,1,1,...,23.0,1,19,1,1,75.0,1,No Change,No Change,No Change
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279,Kemah Bob,5,4.0,4.0,11.0,4.0,7.0,7.0,4,1,...,15.0,3,12,3,4,40.0,3,No Change,No Change,No Change
280,Gyles Brandreth,3,2.0,9.0,5.0,5.0,3.0,9.0,1,1,...,16.0,2,14,2,1,40.0,3,No Change,No Change,No Change
281,Iain Stirling,3,2.0,7.0,5.0,4.0,5.0,10.0,2,2,...,16.0,2,13,3,1,41.0,2,No Change,No Change,No Change
282,Scarlett Moffatt,3,2.0,4.0,5.0,5.0,6.0,11.0,4,2,...,19.0,1,15,1,1,42.0,1,No Change,No Change,No Change
283,Angellica Bell,3,2.0,6.0,4.0,6.0,5.0,8.0,3,4,...,12.0,4,11,4,2,37.0,4,No Change,No Change,No Change

### Remove Unnecessary Fields

In [76]:
df2.columns

Index(['Player', 'Series', 'Week', 'M', 'Tu', 'W', 'Th', 'F', 'M_R', 'Tu_R',
       'W_R', 'Th_R', 'F_R', 'Score', 'Points', 'Rank',
       'Points without Double Points Friday',
       'Rank_Points_without_double_Friday', 'Rank by Total Score',
       'Double Score Friday', 'DSF_Rank',
       'Change in winner with no double points Friday',
       'Change in winner based on Score',
       'Change in winner if Double Score Friday'],
      dtype='object')

In [78]:
df2 = df2[['Series', 'Week', 'Player', 'Rank', 'Rank_Points_without_double_Friday', 'Change in winner with no double points Friday', 
           'Rank by Total Score', 'Change in winner based on Score', 'DSF_Rank', 'Change in winner if Double Score Friday', 'Points', 'Score', 
           'Points without Double Points Friday', 'Double Score Friday']]

In [80]:
df2

,Series,Week,Player,Rank,Rank_Points_without_double_Friday,Change in winner with no double points Friday,Rank by Total Score,Change in winner based on Score,DSF_Rank,Change in winner if Double Score Friday,Points,Score,Points without Double Points Friday,Double Score Friday
0,4,6.0,Angela Barnes,1,1,No Change,1,No Change,1,No Change,24.0,82.0,20,101.0
1,4,6.0,Greg Rutherford,2,2,No Change,2,No Change,2,No Change,17.0,26.0,14,32.0
2,4,6.0,Denise Van Outen,3,3,No Change,3,No Change,3,No Change,13.0,24.0,11,29.0
3,4,6.0,Melvin Odoom,4,4,No Change,4,No Change,4,No Change,10.0,15.0,8,20.0
4,3,1.0,Ed Gamble,1,1,No Change,1,No Change,1,No Change,23.0,63.0,19,75.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279,5,4.0,Kemah Bob,3,3,No Change,4,No Change,3,No Change,15.0,33.0,12,40.0
280,3,2.0,Gyles Brandreth,2,2,No Change,1,No Change,3,No Change,16.0,31.0,14,40.0
281,3,2.0,Iain Stirling,2,3,No Change,1,No Change,2,No Change,16.0,31.0,13,41.0
282,3,2.0,Scarlett Moffatt,1,1,No Change,1,No Change,1,No Change,19.0,31.0,15,42.0
283,3,2.0,Angellica Bell,4,4,No Change,2,No Change,4,No Change,12.0,29.0,11,37.0

In [81]:
df2.to_csv('pandas_solution.csv', index=False)